# Friendly URL
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.html?url=$1 [QSA,L]

# Change default directory page
DirectoryIndex index.html

# Protect Directorys
Options All Indexes
