# Friendly URL
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Change default directory page
DirectoryIndex index.php

# Protect Directorys
Options All Indexes