:root{
    --footer-link-transition: color 0.25s ease-in-out;
}

/* Footer */
footer{
    background-color: var(--footer-background);
    width: 100%;
    text-align: center;
    color: var(--global-default-color);;
    font-weight: var(--footer-font-weight);
}

/*******************/
/* Footer Framework */
footer a{
    transition: var(--footer-link-transition);
}

footer .footer-navigation li a:hover, .footer-social_media a:hover{
    color: var(--footer-hover-color);
}

/*******************/

/* Footer Row Divs */
footer .footer-row-divs{
    align-items: center;
}

/* Navigation */
footer .footer-navigation li{
    text-align: left;
}

footer .footer-navigation li a{
    color: var(--global-default-color);
}

/* Social Media */
footer .footer-social_media a{
    color: var(--global-default-color);;
    font-size: 25px;
    margin: 0 1px;
    transition: none;
}

footer .footer-social_media a i{
    transition: none;
    transition: var(--footer-link-transition);
}

/* Actions */
footer .footer-actions button{
    border-radius: 50%;
    background-color: var(--background-quarter);
    color: var(--global-default-color);;
    transition: background-color 0.25s ease-in-out;
}

footer .footer-actions button i{
    font-size: 15px;
}

footer .footer-actions button:hover{
    background-color: var(--footer-secondary-hover);
}

/* SubFooter */
footer .footer-subfooter{
    background-color: var(--subfooter-background);
}

/*********************/
/***** Responsive *****/
/* Tablets & Mobile */
@media screen and (max-width: 768px){

    footer .footer-row-divs > div{
        width: 80%;
    }

    /* Navigation */
    footer .footer-navigation li{
        text-align: center;
    }

    /* Change The HR to Horizontal */
    .hr-vertical{
        height: 2px;
        width: 50%;
    }

}
