/* Header */
header {
    background-color: var(--header-background);
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 5px;
    box-shadow: var(--header-shadow);
}

/* Container */
header .container {
    align-items: center;
}

/* Header Logo */
header .header-logo {
    color: var(--global-default-color);
    align-items: center;
    filter: brightness(var(--header-logo-color));
}

.header-logo img {
    width: 225px;
    height: 100px;
}

/* Header Navigation */
header .header-navigation {
    justify-content: flex-end;
}

header .header-navigation li {
    margin: 0 10px;
    transition: all 0.25s ease-in-out;
}

header .header-navigation li a {
    color: var(--global-default-color);
    font-size: 18px;
    font-family: 'Argentum Sans', sans-serif;
    font-weight: 300;
    transition: all 0.25s ease-in-out;
    position: relative;
}

header li.navigation-selected a {
    color: var(--header-navigation-color);
}

header .header-navigation li a,
header .header-navigation li a:after,
header .header-navigation li a:before {
    transition: all .5s;
    border-radius: 5px;
}

header .header-navigation li a:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--header-navigation-color);
    margin: 0 auto;
}

/* Header Navigation Animations */
header .header-navigation li:not(.navigation-selected) a:after {
    width: 0px;
}

header .header-navigation li a:hover {
    color: var(--header-navigation-color);
}

header .header-navigation li:not(.navigation-selected) a:hover:after {
    animation: fill 0.65s forwards;
    -webkit-animation: fill 0.65s forwards;
    -moz-animation: fill 0.65s forwards;
}

@keyframes fill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/************************************/
/*** Header Options ***/
header .header-options {
    padding-left: 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* Header Options Languages */
header .languages-selector {
    position: relative;
    width: 60px;
    font-size: 22px;
    color: white;
}

header .languages-select-button {
    width: 100%;
    font-size: 22px;
    background-color: #383838;
    padding: 7.5px 5px;
    border: 1px solid #313131;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: var(--header-shadow-secondary);
}

header .languages-selected-language, .languages-selected-language img{
    width: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

header .languages-select-button, .languages-selected-language img {
    transition: all 0.25s ease-in-out;
}

header .languages-select-button:hover{
    background-color: #2b2b2b;
}

header .languages-select-button:hover .languages-selected-language img{
    opacity: 0.6;
}

header .languages-select-button:hover .languages-select-arrow{
    border-top-color: #9e9e9e;
}

header .languages-select-arrow {
    color: white;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: all ease-in-out 0.3s;
}

header .languages-select-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: var(--header-shadow-secondary);
    background-color: #383838;
    border: 1px solid #313131;
    border-radius: 4px;
    padding: 1px;
    margin-top: 5px;
    transition: 0.5s ease;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
}

header .languages-select-dropdown li {
    position: relative;
    padding: 3px 8px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

header .languages-select-dropdown li img {
    width: 100%;
    margin: 2px 0;
    cursor: pointer;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 2px;
}

header .languages-select-dropdown li:hover{
    background-color: #222222;
}

header .languages-select-dropdown::-webkit-scrollbar {
    width: 7px;
}

header .languages-select-dropdown::-webkit-scrollbar-track {
    background: var(--background-scrollbar-track);
    border-radius: 25px;
}

header .languages-select-dropdown::-webkit-scrollbar-thumb {
    background: var(--background-scrollbar-thumb);
    border-radius: 25px;
}

header .languages-select-dropdown::-webkit-scrollbar-thumb:hover {
    background: var(--background-scrollbar-thumb-hover);
}

/* Language Selector Show */
header .languages-selector.active .languages-select-arrow {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

header .languages-selector.active .languages-select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
}

/*****************************/
/* Header Options Themes */
header .header-options button#theme-changer {
    margin-left: 6px;
    padding: 16px 12px;
    border-radius: 6px;
    font-size: 19px;
    background: #383838;
    color: #ddd;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--header-shadow-secondary);
    text-align: center;
}

header .header-options button#theme-changer:hover {
    background: #2c2c2c;
}

header .header-options button#theme-changer i {
    transition: all 0.2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;

}

/* Light Theme Button */
#header-opt-light-theme {
    color: #e9d23c;
    text-shadow: 0px 1px 5px rgba(194, 175, 52, 0.8);
}

header .header-options button#theme-changer:hover #header-opt-light-theme {
    color: rgb(163, 147, 44);
}

/* Dark Theme Button */
#header-opt-dark-theme {
    color: #2373b5;
    text-shadow: 0px 1px 5px rgba(20, 75, 121, 0.8);
}

header .header-options button#theme-changer:hover #header-opt-dark-theme {
    color: rgb(28, 61, 88);
}

/* Expand Header Button */
header .header-options button#mobile-header-expand-button {
    display: none;
    background: none;
    right: 0;
    padding: 15px;
    color: var(--global-default-color);
    font-size: 18px;
}

/*********************/
/***** Responsive *****/
/* Notebooks */
@media screen and (max-width: 1084px) {

    /* Header Navigation */
    header .header-navigation ul {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    header .header-navigation li {
        width: 50%;
        margin: 0;
        margin-top: 5px;
        text-align: center;
    }

    /* Header Options */
    header .header-options button#theme-changer {
        width: 100%;
    }

}

/* Custom Responsive */
@media screen and (max-width: 820px) {

    /* Header Navigation */
    header .header-navigation li {
        width: 42%;
    }

}

/* Tablets */
@media screen and (max-width: 768px) {

    /* Header Navigation */
    header .header-navigation {
        max-height: 0px;
        overflow: hidden;
    }

    header .header-navigation li {
        width: 100%;
    }

    /* Header Options */
    header .header-options {
        margin: 10px 0;
        padding: 0;
        padding-bottom: 11px;
        width: 100%;
        max-height: 75px;
        overflow: visible;
        align-items: center;
        justify-content: center;
    }

    header .languages-select-dropdown li img {
        width: 85%;
    }

    header .header-options button#theme-changer {
        width: 20%;
    }

    header .header-options button#mobile-header-expand-button {
        display: block;
    }

}
